@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var user in Model.Users)
{

}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Users[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Users[0].Organization)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Users)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Organization.Name)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>